# WEB SCRAPING – ASSIGNMENT 2 
# Answer Sheet

In [1]:
!pip install selenium 
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

Requirement already satisfied: selenium in c:\anaconda\lib\site-packages (4.11.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\anaconda\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\anaconda\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\anaconda\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\anaconda\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: sniffio in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: attrs>=20.1.0 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\anaconda\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

Note : While Connecting to the automated web driver, please mention the driver path

# Q.1. python program to scrape data for “Data Analyst” Job position in “Bangalore” location,

In [3]:
#Calling the automated chrome driver
driver = webdriver.Chrome()

#URL to be web scrape

url = 'https://www.naukri.com/'
driver.get(url)


#Entering “Data Analyst” in “Skill, Designations, Companies” field

search_job = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
search_job.send_keys('Data Analyst')

#entering “Bangalore” in “enter the location” field

search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
search_locn.send_keys('Bangalore')

#clicking the search button
search_button = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_button.click()

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

In [6]:
def get_Data_Analyst_jobs_details():
    #scrape first 10 jobs title
    job_titles = []
    title_tag = driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")

    for i in title_tag[:10]:
        job_titles.append(i.text)

    #scrape first 10 Company names
    company_name = []
    company_tag = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")

    for i in company_tag[:10]:
        company_name.append(i.text)

    #scrape first 10 required experience
    experience = []
    exp_tag = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth']")

    for i in exp_tag[:10]:
        experience.append(i.text)    

    #scrape first 10 jobs locations   
    Location = []
    loc_tag = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")

    for i in loc_tag[:10]:
        Location.append(i.text)

    #Creating dictionary of all titles, location, experience, company names with scaped data

    dict = {'Job Title':job_titles,'Job Location': Location, 'Comapany Name':company_name, 'Expereince Required': experience,}

    #Converting it into pandas dataframe
    df = pd.DataFrame(dict)
    
    
    driver.close()
    
    return df.head(10)

### Answer
- Top 10 job details for r “Data Analyst” Job position in “Bangalore”

In [7]:
get_Data_Analyst_jobs_details()

,Job Title,Job Location,Comapany Name,Expereince Required
0,Data Analyst,Bangalore/Bengaluru,Blooprint Ecom Consulting Service,0-1 Yrs
1,Data Analyst,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg...",Arbeit Associates,3-7 Yrs
2,Data Analyst,"Bangalore/ Bengaluru, Karnataka",Mensa Brand Technologies,1-2 Yrs
3,Data Analyst,Remote,Terragig Llp,2-3 Yrs
4,Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Wipro,4-8 Yrs
5,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
6,Data Analyst,Bangalore/Bengaluru,Volvo Group,1-6 Yrs
7,Data Analyst For Bangalore Location,"Bangalore/ Bengaluru, Karnataka",Teamlease Services Limited,2-7 Yrs
8,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Codilar,1-3 Yrs

# Q.2.python program to scrape data for “Data Scientist” Job position in “Bangalore” location

In [8]:
#Calling the automated chrome driver
driver = webdriver.Chrome()

#URL to be web scrape

url = 'https://www.naukri.com/'
driver.get(url)


#Entering “Data Analyst” in “Skill, Designations, Companies” field

search_job = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
search_job.send_keys('Data Scientist')

#entering “Bangalore” in “enter the location” field

search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
search_locn.send_keys('Bangalore')

#clicking the search button
search_button = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_button.click()

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

In [9]:
def get_Data_Scientist_jobs_details():
    #scrape first 10 jobs title
    job_titles = []
    title_tag = driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")

    for i in title_tag[:10]:
        job_titles.append(i.text)

    #scrape first 10 Company names
    company_name = []
    company_tag = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")

    for i in company_tag[:10]:
        company_name.append(i.text)

    #scrape first 10 required experience
    experience = []
    exp_tag = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth']")

    for i in exp_tag[:10]:
        experience.append(i.text)    

    #scrape first 10 jobs locations   
    Location = []
    loc_tag = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")

    for i in loc_tag[:10]:
        Location.append(i.text)

    #Creating dictionary of all titles, location, experience, company names with scaped data

    dict = {'Job Title':job_titles,'Job Location': Location, 'Comapany Name':company_name, 'Expereince Required': experience,}

    #Converting it into pandas dataframe
    df = pd.DataFrame(dict)
    
    
    driver.close()
    
    return df.head(10)

In [10]:
get_Data_Scientist_jobs_details()

,Job Title,Job Location,Comapany Name,Expereince Required
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
1,Data Scientist - Senior Associate,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,4-6 Yrs
2,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
3,Senior Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Sophos,4-9 Yrs
4,Senior Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Sophos,5-10 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC,3-6 Yrs
6,Artificial Intelligence Senior Analyst-Intelli...,Bangalore/Bengaluru,Accenture,5-8 Yrs
7,Data Scientist Developer,"Hybrid - Bangalore/ Bengaluru, Karnataka, Delh...",PwC,3-7 Yrs
8,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics,5-10 Yrs
9,Manager Data Scientist,Bangalore/Bengaluru,Visa Inc,6-11 Yrs

# Q.3. Python program to use the location and salary filter, to get top 10 jobs of “Data Scientist”  at 'Delhi NCR'

In [32]:
#URL to be web scrape
#Calling the automated chrome driver
driver = webdriver.Chrome()

#URL to be web scrape

url = 'https://www.naukri.com/'
driver.get(url)


#Entering “Data Analyst” in “Skill, Designations, Companies” field

search_job = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
search_job.send_keys('Data Scientist')


#clicking the search button
search_button = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_button.click()


time.sleep(10) 

search_locn = driver.find_element(By.XPATH,"//p/span[contains(@title,'Delhi')]")
search_locn.click()


time.sleep(10)

#Salary range filter
salary_button = driver.find_element(By.XPATH, '//span[contains(@title, "3-6 Lakhs")]')
salary_button.click()

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

In [27]:
def get_Data_Scientist_jobs_details():
    #scrape first 10 jobs title
    job_titles = []
    title_tag = driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")

    for i in title_tag[:10]:
        job_titles.append(i.text)

    #scrape first 10 Company names
    company_name = []
    company_tag = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")

    for i in company_tag[:10]:
        company_name.append(i.text)

    #scrape first 10 required experience
    experience = []
    exp_tag = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth']")

    for i in exp_tag[:10]:
        experience.append(i.text)    

    #scrape first 10 jobs locations   
    Location = []
    loc_tag = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")

    for i in loc_tag[:10]:
        Location.append(i.text)

    #Creating dictionary of all titles, location, experience, company names with scaped data

    dict = {'Job Title':job_titles,'Job Location': Location, 'Comapany Name':company_name, 'Expereince Required': experience,}

    #Converting it into pandas dataframe
    df = pd.DataFrame(dict)
    
    
    driver.close()
    
    return df.head(10)

In [33]:
get_Data_Scientist_jobs_details()

,Job Title,Job Location,Comapany Name,Expereince Required
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
3,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
4,Data Scientist,Noida,Times Internet,3-8 Yrs
5,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
6,Hiring For Data Scientist,Remote,Infogain,4-9 Yrs
7,Data Scientist,Hybrid - Delhi / NCR,Grok,3-6 Yrs
8,"Urgent Hiring -Data Scientist -(SQL, Python, P...","Delhi / NCR, Noida, Uttar Pradesh, Gurgaon/ Gu...",EXL,2-5 Yrs
9,Data Scientist,Noida,"SquadRun, Inc",1-4 Yrs

# Q.4.Scrape data of first 100 sunglasses listings on flipkart.com

In [34]:
#Calling the automated chrome driver
driver = webdriver.Chrome()


#URL to be web scrape

url = 'https://www.flipkart.com/'
driver.get(url)


cross_button = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
cross_button.click()

#Search sunglasses product
search_product = driver.find_element(By.XPATH,"//input[@class='_3704LK']")
search_product.send_keys('sunglasses')

#clicking the search button
search_button = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_button.click()


#Declaring lists for the data to be extracted
Product_titles = []
Product_brand = []
Product_price= []

def get_product_titles():  
    title_tag = driver.find_elements(By.XPATH,"//a[contains(@class,'IRpwTa')]")

    for i in title_tag:
        Product_titles.append(i.text)
    
def get_product_brand():
    brand_tag = driver.find_elements(By.XPATH,"//div[contains(@class,'_2WkVRV')]")

    for i in brand_tag:
        Product_brand.append(i.text)
        
def get_product_price():    
    price_tag = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")

    for i in price_tag:
        Product_price.append(i.text)

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

In [35]:
#Creating list of href of next page links
nxt_page=[]
next_tag =driver.find_elements(By.XPATH,"//a[contains(@class,'ge-49M')]")
for page in next_tag:
    p1 = page.get_attribute('href')
    #print(p1)
    nxt_page.append(p1)

In [36]:
#Extracting the required data from first three pages
for i in range(3):
    driver.get(nxt_page[i])
    print('Extracting page',i+1)
    get_product_titles()
    get_product_brand()
    get_product_price()
    
    
    
#Creating dictionary from the extracted data as list form

dict = {'Product Name':Product_titles[:100],'Product Brand':Product_brand[:100],'Product Price':Product_price[:100]}
dict
df = pd.DataFrame(dict)

driver.close()

df

Extracting page 1
Extracting page 2
Extracting page 3

,Product Name,Product Brand,Product Price
0,"UV Protection, Others Spectacle Sunglasses (Fr...",SDEEP,₹185
1,"UV Protection Wayfarer, Sports, Spectacle , Re...",ROADWAY,₹294
2,UV Protection Wayfarer Sunglasses (50),SRPM,₹204
3,UV Protection Wayfarer Sunglasses (50),SRPM,₹249
4,"UV Protection, Polarized, Gradient, Mirrored R...",Shiv,₹275
...,...,...,...
95,Night Vision Aviator Sunglasses (56),PETER JONES,₹360
96,UV Protection Wayfarer Sunglasses (53),SRPM,₹248
97,Others Retro Square Sunglasses (58),ROYAL SON,₹474
98,"Gradient, Toughened Glass Lens, UV Protection ...",Singco India,₹630
99,UV Protection Retro Square Sunglasses (Free Size),ROZZETTA CRAFT,₹471

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone

In [37]:
#Calling the automated chrome driver
driver = webdriver.Chrome()

url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11+black+64gb&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=179577e7-ebfd-4f68-9573-dc237ea37ee1.MOBFWQ6BXGJCEYNY.SEARCH&ppt=sp&ppn=sp&ssid=avfi6gg60g0000001667671814002&qH=c8bcf01bd7ceddcb'
driver.get(url)


all_review = driver.find_element(By.XPATH,"//div[@class='_3UAT2v _16PBlm']")
all_review.click()

star_list=[]
review_list=[]
summary_list = []

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

In [38]:
def get_review_titles():  
    review_tag = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")

    for i in review_tag:
        review_list.append(i.text)
    
def get_review_summary():
    summary_tag = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in summary_tag:
        summary_list.append(i.text)
        
def get_rating_stars():    
    star_tags = driver.find_elements(By.XPATH,"//div[contains(@class,'_3LWZlK ')]")

    for i in star_tags:
        star_list.append(i.text)

In [39]:
nxt_page=[]
next_tag =driver.find_elements(By.XPATH,"//a[contains(@class,'ge-49M')]")
for page in next_tag:
    p1 = page.get_attribute('href')
    #print(p1)
    nxt_page.append(p1)

In [40]:
#Extracting the required data from first three pages
for a in range(0,10):
    driver.get(nxt_page[a])
    print('Extracting page',a+1)
    get_review_titles()
    get_review_summary()
    get_rating_stars()
    
    

driver.close()
#Creating dictionary from the extracted data as list form

dict = {'Review':review_list,'Summary':summary_list,'Raring Stars':star_list}

dict
df = pd.DataFrame(dict)



df

Extracting page 1
Extracting page 2
Extracting page 3
Extracting page 4
Extracting page 5
Extracting page 6
Extracting page 7
Extracting page 8
Extracting page 9
Extracting page 10

,Review,Summary,Raring Stars
0,Classy product,Camera is awesome\nBest battery backup\nA perf...,5
1,Terrific,Very very good,5
2,Mind-blowing purchase,Photos super,5
3,Wonderful,This is amazing at all,5
4,Must buy!,It’s really awesome,5
...,...,...,...
95,Perfect product!,It is just awesome mobile for this price from ...,5
96,Great product,I was using android phone earlier..I was think...,5
97,Best in the market!,Really very nice... my dad gifted me really I ...,5
98,Super!,Did an upgrade from 6s plus to iphone 11.\nAo ...,5
99,Best in the market!,Just awesome everything is perfect.\nCamera ou...,5

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [42]:
#Calling the automated chrome driver
driver = webdriver.Chrome()


#URL to be web scrape

url = 'https://www.flipkart.com/'
driver.get(url)


try:
    cross_button = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
    cross_button.click()
    
except:
    pass

#Search sunglasses product
search_product = driver.find_element(By.XPATH,"//input[@class='_3704LK']")
search_product.send_keys('sneakers')

#clicking the search button
search_button = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_button.click()


#Declaring lists for the data to be extracted
Product_titles = []
Product_brand = []
Product_price= []

def get_product_titles():  
    title_tag = driver.find_elements(By.XPATH,"//a[contains(@class,'IRpwTa')]")

    for i in title_tag:
        Product_titles.append(i.text)
    
def get_product_brand():
    brand_tag = driver.find_elements(By.XPATH,"//div[contains(@class,'_2WkVRV')]")

    for i in brand_tag:
        Product_brand.append(i.text)
        
def get_product_price():    
    price_tag = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")

    for i in price_tag:
        Product_price.append(i.text)

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

In [43]:
#Creating list of href of next page links
nxt_page=[]
next_tag =driver.find_elements(By.XPATH,"//a[contains(@class,'ge-49M')]")
for page in next_tag:
    p1 = page.get_attribute('href')
    #print(p1)
    nxt_page.append(p1)

In [44]:
#Extracting the required data from first three pages
for i in range(3):
    driver.get(nxt_page[i])
    print('Extracting page',i+1)
    get_product_titles()
    get_product_brand()
    get_product_price()
    
    
    
#Creating dictionary from the extracted data as list form

dict = {'Product Description':Product_titles[:100],'Product Brand':Product_brand[:100],'Product Price':Product_price[:100]}
dict
df = pd.DataFrame(dict)

driver.close()

df

Extracting page 1
Extracting page 2
Extracting page 3

,Product Description,Product Brand,Product Price
0,Stylish Casual Sports Shoe Sneakers Sneakers F...,Layasa,₹392
1,Casual Sneakers White Shoes For Girls And Snea...,Layasa,₹399
2,Synthetic Leather |Lightweight|Comfort|Summer|...,aadi,₹437
3,Modern Trendy Sneakers boot Sneakers Sneakers ...,Magnolia,₹449
4,Hustle V2 Sneakers For Men,PUMA,"₹1,499"
...,...,...,...
95,"SM-162 Black Walking Shoes,Training Shoes,Snea...",asian,₹599
96,Sneakers For Men,HIGHLANDER,₹662
97,Sneakers For Men,HIGHLANDER,₹639
98,Ivana Wn's Sneakers For Women,PUMA,"₹1,999"
99,SM-162 Sneakers For Men,Sparx,₹877

# Q.7.: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black” ,scrape First 100 shoes data you get

In [45]:
#Calling the automated chrome driver
driver = webdriver.Chrome()

#URL to be web scrape

url = 'https://www.myntra.com/shoes'
driver.get(url)

black = driver.find_element(By.XPATH,"(//label[@class='common-customCheckbox'])[1]")
black.click()

price = driver.find_element(By.XPATH,"(//label[@class='common-customCheckbox vertical-filters-label'])[9]")
price.click()


Product_titles = []
Product_brand = []
Product_price= []

def get_product_titles():  
    title_tag = driver.find_elements(By.XPATH,"//h4[@class='product-product']")

    for i in title_tag:
        Product_titles.append(i.text)
    
def get_product_brand():
    brand_tag = driver.find_elements(By.XPATH,"//h3[@class='product-brand']")

    for i in brand_tag:
        Product_brand.append(i.text)
        
def get_product_price():    
    price_tag = driver.find_elements(By.XPATH,"//div[@class='product-price']")

    for i in price_tag:
        Product_price.append(i.text)

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

In [46]:
#First page info
get_product_titles()
get_product_brand()
get_product_price()

#Clicking next button for 2nd page
next_tag =driver.find_element(By.XPATH,"//a[contains(text(),'2')]")
next_tag.click()

#seconf page info
get_product_titles()
get_product_brand()
get_product_price()

driver.close()

In [47]:

dict = {'Product Name':Product_titles[:100],'Product Brand':Product_brand[:100],'Product Price':Product_price[:100]}
dict
df = pd.DataFrame(dict) 

df

,Product Name,Product Brand,Product Price
0,Men Air Force 1 '07 Sneakers,Nike,Rs. 9695
1,Men Dunk High Retro Sneakers,Nike,Rs. 9295
2,Men Jordan Basketball Shoes,Nike,Rs. 10295
3,Men Air Force Leather Sneakers,Nike,Rs. 9695
4,Air Jordan Legacy 312 Shoes,Nike,Rs. 12995
...,...,...,...
95,Men Sporty Slip-On Sneakers,Calvin Klein Jeans,Rs. 8999
96,Men Charged Bandit Trek 2,UNDER ARMOUR,Rs. 8624Rs. 11499(25% OFF)
97,Men Air Max Flyknit Sneakers,Nike,Rs. 12295Rs. 14995(18% OFF)
98,Men LeBron Basketball Shoes,Nike,Rs. 14995
99,Men Infinity 3 Running Shoes,Nike,Rs. 11475Rs. 13995(18% OFF)

# Q.8. scrape first 10 laptops data from amazon.com

In [48]:
#Calling the automated chrome driver
driver = webdriver.Chrome()


#URL to be web scrape

url = 'https://www.amazon.in/'
driver.get(url)

#Search sunglasses product
search_product = driver.find_element(By.XPATH,"//input[@id='twotabsearchtextbox']")
search_product.send_keys('Laptop')

#clicking the search button
search_button = driver.find_element(By.XPATH,"//input[@id='nav-search-submit-button']")
search_button.click()

cpu = driver.find_element(By.XPATH,"//span[contains(text(),'Intel Core i7')]")
cpu.click()

Product_titles = []
Product_rating = []
Product_price= []

 #Extracting the laptop name 
title_tag = driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")

for i in title_tag:
    Product_titles.append(i.text)
    
 #Extracting the price

price_tag = driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")

for i in price_tag:
    Product_price.append(i.text)
    
 #Extracting the rating

rating_tag = driver.find_elements(By.XPATH,"//span[contains(@aria-label,'of 5 stars')]")

for i in range(15):
    Product_rating.append(rating_tag[i].get_attribute('aria-label'))
    
driver.close()

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

In [49]:
#Forming dataframe from extracted dictionary

dict = {'Laptop Name':Product_titles[:10],'Ratings':Product_rating[:10],'Price':Product_price[:10]}
dict
df = pd.DataFrame(dict) 

df

,Laptop Name,Ratings,Price
0,"MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...",4.0 out of 5 stars,"68,990"
1,(16GB/512GB NVMe SSD/Windows 11 Home/Nvidia Ge...,4.0 out of 5 stars,"59,990"
2,"ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...",3.2 out of 5 stars,"62,990"
3,,3.0 out of 5 stars,"85,990"
4,Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...,4.2 out of 5 stars,"1,04,990"
5,(16GB/512GB SSD/Win 11/Office 2021/2 Years War...,4.6 out of 5 stars,"1,15,990"
6,Dell Inspiron 5430 13th Gen,3.8 out of 5 stars,"60,990"
7,", Intel i7-1360P/16GB/1TB SSD/14.0"" (35.56CMs)...",4.1 out of 5 stars,"89,380"
8,Acer Nitro 5 AN515-58 Gaming,4.4 out of 5 stars,"1,29,990"
9,12th Gen Intel Core i7-12650H NVIDIA GeForce R...,4.0 out of 5 stars,"79,990"

# Q.9.Write a python program to scrape data for Top 1000 Quotes of All Time.

In [51]:
#Calling the automated chrome driver
driver = webdriver.Chrome()


#URL to be web scrape

url = 'https://www.azquotes.com/'
driver.get(url)

time.sleep(5)

#clicking the search button
top_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_button.click()

#Declaring the lists
Quote_titles = []
Quote_Author = []
Quote_type = []

#Defining the XPATH
title_tag = driver.find_elements(By.XPATH,"//a[@class='title']")
Author_tag = driver.find_elements(By.XPATH,"//div[@class='author']")
type_tag = driver.find_elements(By.XPATH,"//div[@class='tags']")
next_tag =driver.find_element(By.XPATH,"//li[@class='next']")


#Extracting the information on each pages using loop
for p in range(10):
    print('Ectracting page no.',p+1)
    
    title_tag = driver.find_elements(By.XPATH,"//a[@class='title']")
    for i in title_tag:
        Quote_titles.append(i.text)
    
    Author_tag = driver.find_elements(By.XPATH,"//div[@class='author']")    
    for i in Author_tag:
        Quote_Author.append(i.text)
    
    type_tag = driver.find_elements(By.XPATH,"//div[@class='tags']")    
    for i in type_tag:
        Quote_type.append(i.text)
        
    if p<9:
        next_tag =driver.find_element(By.XPATH,"//li[@class='next']")
        next_tag.click()  
    else:
        print('Top 1000 quotes Extracted')
driver.close()

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

Ectracting page no. 1
Ectracting page no. 2
Ectracting page no. 3
Ectracting page no. 4
Ectracting page no. 5
Ectracting page no. 6
Ectracting page no. 7
Ectracting page no. 8
Ectracting page no. 9
Ectracting page no. 10
Top 1000 quotes Extracted

In [113]:
#Forming dataframe from extracted dictionary
dict = {'Quote':Quote_titles,'Author':Quote_Author,'Type':Quote_type}
dict
df = pd.DataFrame(dict) 

df

,Quote,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
5,Be more concerned with your character than you...,John Wooden,"Inspirational, Success, Basketball"
6,Weak people revenge. Strong people forgive. In...,Albert Einstein,"Strong, Revenge, Intelligent"
7,A mind is like a parachute. It doesn't work if...,Frank Zappa,"Inspirational, Teacher, Religious"
8,Never be afraid to raise your voice for honest...,William Faulkner,"Truth, Honesty, Lying"
9,There are three kinds of men. The one that lea...,Will Rogers,"Funny, Reading, Learning"
10,"A strong nation, like a strong person, can aff...",Jimmy Carter,"Strong, Thoughtful, Compassion"
11,The difference between stupidity and genius is...,Albert Einstein,"Love, Funny, Life"
12,We the people are the rightful masters of both...,Abraham Lincoln,"Freedom, Men, Democracies Have"
13,"With or without religion, you would have good ...",Steven Weinberg,"God, Religious, Atheist"
14,Human kindness has never weakened the stamina ...,Franklin D. Roosevelt,"Respect, Kindness, Character"
15,A person who never made a mistake never tried ...,Albert Einstein,"Inspirational, Motivational, Change"
16,"My mission in life is not merely to survive, b...",Maya Angelou,"Inspirational, Life, Inspiring"
17,"Life is short, Break the Rules. Forgive quickl...",Mark Twain,"Love, Inspirational, Life"
18,This country will not be a good place for any ...,Theodore Roosevelt,"Inspiring, Country, 4th Of July"
19,"In a world filled with hate, we must still dar...",Michael Jackson,"Inspirational, Dream, Hate"
20,Darkness cannot drive out darkness; only light...,"Martin Luther King, Jr.","Love, Inspirational, Life"
21,To be a Christian means to forgive the inexcus...,C. S. Lewis,"Forgiveness, God, Christian"
22,A man who is good enough to shed his blood for...,Theodore Roosevelt,"Country, Men, Squares"
23,Kindness is the language which the deaf can he...,Mark Twain,"Inspirational, Relationship, Positive"
24,Most folks are as happy as they make up their ...,Abraham Lincoln,"Inspirational, Motivational, Positive"
25,A happy marriage is the union of two good forg...,Ruth Graham,"Love, Friendship, Relationship"
26,I believe in Christianity as I believe that th...,C. S. Lewis,"Faith, God, Christian"
27,"Politics is the art of looking for trouble, fi...",Groucho Marx,"Art, Freedom, Political Will"
28,I believe in everything until it's disproved. ...,John Lennon,"Inspirational, Life, Faith"
29,"At the end of your life, you will never regret...",Barbara Bush,"Inspirational, Life, Meaningful"
...,...,...,...
970,"It is best to act with confidence, no matter h...",Lillian Hellman,"Confidence, Littles, Matter"
971,People usually consider walking on water or in...,Nhat Hanh,"Motivational, Buddhist, Children"
972,Freedom means the opportunity to be what we ne...,Daniel J. Boorstin,"Mean, Opportunity, Nerd"
973,"For it was not into my ear you whispered, but ...",Judy Garland,"Love, Funny, Romantic"
974,"I will love the light for it shows me the way,...",Og Mandino,"Inspirational, Positive, Stars"
975,"If you run, you are a runner. It doesn't matte...",John Bingham,"Running, Years, Tests"
976,The deepest principle in human nature is the c...,William James,"Inspirational, Motivational, Relationship"
977,The world is a dangerous place to live; not be...,Albert Einstein,"Peace, Integrity, Patriotic"
978,Forgiveness says you are given another chance ...,Desmond Tutu,"Inspiring, Forgiveness, New Beginnings"
979,About all you can do in life is be who you are...,Rita Mae Brown,"Love, Life, Being Yourself"
980,"To find out what one is fitted to do, and to s...",John Dewey,"Happiness, Work, Opportunity"
981,What is success? I think it is a mixture of ha...,Margaret Thatcher,"Motivational, Success, Work"
982,The past has no power over the present moment.,Eckhart Tolle,"Positive, Wisdom, Philosophical"
983,"Do not let your fire go out, spark by irreplac...",Ayn Rand,"Inspirational, Life, Motivational"
984,No person was ever honored for what he receive...,Calvin Coolidge,"Life, Leadership, Motivational Sports"
985,"Wherever you are, and whatever you do, be in l...",Rumi,"Spiritual, Sufi, Wherever You Are"
986,Love yourself-accept yourself-forgive yourself...,Leo Buscaglia,"Love, Confidence, Forgiving"
987,Whenever you find yourself on the side of the ...,Mark Twain,"Inspirational, Motivational, Change"
988,And those who were seen dancing were thought t...,Friedrich Nietzsche,"Inspirational, Life, Music"
989,I love things that age well - things that don'...,Giorgio Armani,"Artist, Age, Example"
990,Better be wise by the misfortunes of others th...,Aesop,"Inspirational, Motivational, Wise"
991,"The person, be it gentleman or lady, who has n...",Jane Austen,"Inspirational, Funny, Stupid"
992,Curiosity is one of the most permanent and cer...,Samuel Johnson,"Education, Curiosity, Genius"
993,Leaders must be close enough to relate to othe...,John C. Maxwell,"Motivational, Inspiring, Leadership"
994,"The opposite of love is not hate, it's indiffe...",Elie Wiesel,"Love, Inspirational, Life"
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,"No matter how plain a woman may be, if truth a...",Eleanor Roosevelt,"Beauty, Beautiful, Truth"

# Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,Term of office, Remarks) from https://www.jagranjosh.com/.

In [ ]:
#Calling the automated chrome driver
driver = webdriver.Chrome(r'C:\Users\Vinit\Downloads\chromedriver.exe')


#URL to be web scrape

url = 'https://www.jagranjosh.com/'
driver.get(url)

#clicking the gk button
gk_button = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
gk_button.click()

#Clicking the prime minister link
primeminister_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
primeminister_button.click()

#DEclaring the lists
Names = []
Born_dead = []
Office_tenure = []
Remarks = []

#DEfining the XPATH
name_tag = driver.find_elements(By.XPATH,"//td[contains(@style,'width: 150px')]")
born_dead_tag = driver.find_elements(By.XPATH,"//td[contains(@style,'width: 105px')]")
Office_tag = driver.find_elements(By.XPATH,"//td[contains(@style,'width: 256px')]")
remark_tag = driver.find_elements(By.XPATH,"//td[contains(@style,'width: 145px')]")

#Extracting data
for i in name_tag:
        Names.append(i.text)
for i in born_dead_tag:
        Born_dead.append(i.text)
for i in Office_tag:
        Office_tenure.append(i.text)
for i in remark_tag:
        Remarks.append(i.text)
        
driver.close()
        
#Creating dictionary and then, dataframe from dictionary

dict = {'Name':Names,'Born-Dead':Born_dead,'Office Tenure':Office_tenure,'Remarks':Remarks}
df = pd.DataFrame(dict) 
df

# Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price) from https://www.motor1.com/

In [114]:
#Calling the automated chrome driver
driver = webdriver.Chrome(r'C:\Users\Vinit\Downloads\chromedriver.exe')


#URL to be web scrape

url = 'https://www.motor1.com/'
driver.get(url)

#clicking the search button
menu_button = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div[1]/div")
menu_button.click()

#Heading towards list
list_button = driver.find_element(By.XPATH,"//body/div[3]/div[1]/div[3]/ul[1]/li[4]/a[1]")
l1=list_button.get_attribute('href')
driver.get(l1)

#Redirecting towrds top 50 cars
topic_tag = driver.find_element(By.XPATH,'/html/body/div[2]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a')
p1=topic_tag.get_attribute('href')
driver.get(p1)

#Initiating lists
Titles = []
company_name = []
price = []
car =[]
final_price = []

#Extracting car model and company together
title_tag = driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in title_tag:
    Titles.append(i.text.split())
    
#Seperating company name
for i in Titles:
    company_name.append(i[0])

#Seperating car model
for i in Titles:
    car.append(i[1])

#Extracting prices for cars    
price_tag = driver.find_elements(By.XPATH,"//strong[contains(text(),'$')]")
for i in price_tag:
    price.append(i.text)

driver.close()
#creating a dictionary of data collected in form of lists
dict = {'Model':car[:50],'Brand':company_name[:50],'Price':price[:50]}

#Creating dataframe from dictionary
df = pd.DataFrame(dict) 
df

         Model             Brand                        Price
0          GTE             Drako          Price: $1.2 Million
1       Tomaso                De          Price: $1.3 Million
2    LaFerrari           Ferrari          Price: $1.4 Million
3       Huayra            Pagani          Price: $1.4 Million
4         Elva           McLaren          Price: $1.7 Million
5          21C           Czinger          Price: $1.7 Million
6        Monza           Ferrari          Price: $1.7 Million
7       Murray            Gordon          Price: $1.7 Million
8       Gemera        Koenigsegg          Price: $1.7 Million
9        TSR-S             Zenvo          Price: $1.7 Million
10       Venom         Hennessey          Price: $1.8 Million
11     Bacalar           Bentley          Price: $1.9 Million
12       Suiza           Hispano          Price: $1.9 Million
13    Mulliner           Bentley          Price: $2.0 Million
14     Vayanne              Deus          Price: $2.0 Million
15     Tuatara               SSC         Price: $2.0 Million*
16       Evija             Lotus          Price: $2.1 Million
17      Martin             Aston          Price: $2.3 Million
18         D12            Delage          Price: $2.3 Million
19   Speedtail           McLaren          Price: $2.3 Million
20      Nevera             Rimac          Price: $2.4 Million
21      Utopia            Pagani          Price: $2.5 Million
22    Battista       Pininfarina          Price: $2.5 Million
23         FXX           Ferrari          Price: $2.6 Million
24      Murray            Gordon          Price: $2.6 Million
25    Countach       Lamborghini          Price: $2.6 Million
26     Project      Mercedes-AMG          Price: $2.7 Million
27      Martin             Aston          Price: $3.0 Million
28       Venom         Hennessey                 $3.0 Million
29       Jesko        Koenigsegg          Price: $3.0 Million
30      Martin             Aston          Price: $3.2 Million
31      Motors                 W          Price: $3.4 Million
32       Solus           McLaren                 $3.5 Million
33      Huayra            Pagani          Price: $3.5 Million
34      Chiron           Bugatti          Price: $3.6 Million
35        Sian       Lamborghini          Price: $3.6 million
36       CC850        Koenigsegg          Price: $3.7 Million
37      Chiron           Bugatti          Price: $3.9 Million
38      Veneno       Lamborghini          Price: $4.5 Million
39      Bolide           Bugatti          Price: $4.7 Million
40     Mistral           Bugatti          Price: $5.0 Million
41      Huayra            Pagani          Price: $5.4 Million
42        Divo           Bugatti          Price: $5.8 Million
43  Automotive                SP          Price: $6.4 Million
44   Codalunga            Pagani          Price: $7.4 Million
45     Exelero  Mercedes-Maybach          Price: $8.0 Million
46  Centodieci           Bugatti          Price: $9.0 Million
47    Sweptail       Rolls-Royce         Price: $12.8 Million
48          La           Bugatti         Price: $13.4 Million
49        Boat       Rolls-Royce  Price: $28.0 Million (est.)