In [1]:
from bs4 import BeautifulSoup as bs
import requests as rq
import re
import pandas as pd
!pip install selenium 
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import NoSuchElementException

Collecting selenium
  Downloading selenium-4.11.2-py3-none-any.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 1.2 MB/s eta 0:00:00
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\anaconda\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\anaconda\lib\site-packages (from selenium) (2022.9.14)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.10.3-py3-none-any.whl (17 kB)
Collecting trio~=0.17
  Downloading trio-0.22.2-py3-none-any.whl (400 kB)
     -------------------------------------- 400.2/400.2 kB 1.7 MB/s eta 0:00:00
Requirement already satisfied: cffi>=1.14 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.2-py3-none-any.whl (14 kB)
Requirement already satisfied: sniffio in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=20.1.0 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\anaconda\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ---------------------------------------- 58.3/58.3 kB 3.2 MB/s eta 0:00:00
Installing collected packages: outcome, h11, exceptiongroup, wsproto, trio, trio-websocket, selenium
Successfully installed exceptiongroup-1.1.2 h11-0.14.0 outcome-1.2.0 selenium-4.11.2 trio-0.22.2 trio-websocket-0.10.3 wsproto-1.2.0

## Q3. Scrape the details of selenium exception from guru99.com.

In [12]:
#Calling the automated chrome driver
driver = webdriver.Chrome()


#URL to be web scrape

url = 'https://www.guru99.com/'
driver.get(url)
driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
time.sleep(50)

#Search for selenium exception
search_selenium = driver.find_element(By.XPATH,"//input[@class='gsc-input']")
search_selenium.send_keys('selenium exception handling')


#clicking the search button
search_button = driver.find_element(By.XPATH,"//button[@class='gsc-search-button gsc-search-button-v2']")
search_button.click()
time.sleep(5)
    
search_result=driver.find_element(By.XPATH,"(//div[@class='gs-title']/a)[1]")
resultURL = search_result.get_attribute('href')
driver.get(resultURL)
time.sleep(10)
    
title= []
discription = []

titleTags =driver.find_elements(By.XPATH,"//article[@id='post-1953']/div/div/p/strong")
discrpTags =driver.find_elements(By.XPATH,"//article[@id='post-1953']/div/div/p")

for i in range(41):
    title.append(titleTags[i].text.split('.')[1].split(':')[0])
    discription.append(discrpTags[i].text.split(':')[1])   

    
dictionary= {'Title of Exception':title,'Discription':discription}
driver.close()
df = pd.DataFrame.from_dict(dictionary)
df.head()

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

,Title of Exception,Discription
0,ElementNotVisibleException,This type of Selenium exception occurs when a...
1,ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,NoSuchElementException,This Exception occurs if an element could not...
3,NoSuchFrameException,This Exception occurs if the frame target to ...
4,NoAlertPresentException,This Exception occurs when you switch to no p...

## Q6. Scrape the details of top 100 songs on billiboard.com.

In [13]:
#Calling the automated chrome driver
driver = webdriver.Chrome()


#URL to be web scrape

url = 'https://www.billboard.com/'
driver.get(url)
time.sleep(5)
    
chartmenu = driver.find_element(By.XPATH,"//div[@id='main-wrapper']/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
URL=chartmenu.get_attribute('href')
driver.get(URL)
time.sleep(5)

viewchart = driver.find_element(By.XPATH,"//div[@id='main-wrapper']/main/div[2]/div[1]/div[1]/div/div/div[3]/a")
finalURL = viewchart.get_attribute('href')
driver.get(finalURL)
time.sleep(5)

rowtag = driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']")
RANKS = []
SONGS = []
ARTISTS = []
LASTWEEKS = []
PEAKS = []
WEEKSONCHART = []
for i in range (len(rowtag)):
    rank = driver.find_elements(By.XPATH,"//div/div[2]/div/ul/li[1]/span[@class='c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet']")
    RANKS.append(rank[i].text)
    song = driver.find_elements(By.XPATH,"//li/h3[@id='title-of-a-story']")
    SONGS.append(song[i].text)
    artist = driver.find_elements(By.XPATH,"//div[2]/div/ul/li[4]/ul/li[1]/span")
    ARTISTS.append(artist[i].text)
    lastweek = driver.find_elements(By.XPATH,"//div/div[2]/div/ul/li[4]/ul/li[4]/span")
    LASTWEEKS.append(lastweek[i].text)
    peak = driver.find_elements(By.XPATH,"//div[2]/div/ul/li[4]/ul/li[5]/span")
    PEAKS.append(peak[i].text)
    weeksOnchart = driver.find_elements(By.XPATH,"//div/div[2]/div/ul/li[4]/ul/li[6]/span")
    WEEKSONCHART.append(weeksOnchart[i].text)
    
dictionary= {'Rank':RANKS,'Song':SONGS,'Artist':ARTISTS,'Last Week Rank':LASTWEEKS,'Peak Rank':PEAKS,'Weeks on Chart':WEEKSONCHART}
driver.close()
df = pd.DataFrame.from_dict(dictionary)
df = df.set_index('Rank')
df.head()

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

,Song,Artist,Last Week Rank,Peak Rank,Weeks on Chart
Rank,,,,,
1,Seven,Jung Kook Featuring Latto,-,1,1
2,Try That In A Small Town,Jason Aldean,-,2,1
3,Last Night,Morgan Wallen,1,1,25
4,Fast Car,Luke Combs,2,2,17
5,Calm Down,Rema & Selena Gomez,4,3,46

## Q7. Scrape the details of Data science recruiters from naukri.com.

In [20]:
#Calling the automated chrome driver
driver = webdriver.Chrome()


#URL to be web scrape

url = 'https://www.naukri.com/'
driver.get(url)
time.sleep(5)

#Search Data science jobs
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
search.send_keys('Data Science')


#clicking the search button
search_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search_button.click()
time.sleep(10)

results = driver.find_elements(By.XPATH,"//*[@id='root']/div[4]/div/div/section[2]/div[2]/article")

def listToString(tra):
   
    # initialize an empty string
    str1 = ", "
   
    # return string 
    return (str1.join(tra))

Name = []
Designation =[]
Company = []
Skills = []
Location = []


for i in range(len(results)):
    
    Title = driver.find_elements(By.XPATH,"//article/div[1]/div[1]/a")
    try:
        Designation.append(Title[i].text.split('-')[1])
        Name.append(Title[i].text.split('-')[0])
        
    except:
        Name.append(Title[i].text)
        Designation.append('-')

    org = driver.find_elements(By.XPATH,"//article/div[1]/div[1]/div/a[1]")
    Company.append(org[i].text)

    skillpath = ("//article"+str([i])+"/ul/li")
    Skill = driver.find_elements(By.XPATH,skillpath)
    tra = []
    for s in range(len(Skill)):
        tra.append(Skill[s].text)
    Skills.append(listToString(tra))
    
    
    location = driver.find_elements(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[2]/div[2]/article/div[1]/ul/li[3]/span")
    Location.append(location[i].text)
    
    
dictionary= {'Job Title':Name,'Designation':Designation,'Comapny':Company,'Skills':Skills,'Location':Location}
driver.close()
df = pd.DataFrame.from_dict(dictionary)
df.head(20)

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

,Job Title,Designation,Comapny,Skills,Location
0,Data Science,Manager,PwC,,"Kolkata, Mumbai, Hyderabad/Secunderabad, Banga..."
1,Data Science Application Lead,-,Accenture,"data cleansing, Data analysis, Team management...",Chennai
2,"Senior Analyst, Customer Analytics(Data Scienc...",-,"Western Union Financial Services, Inc","Data Science, Data management, Data analytics,...",Pune
3,Data Science,Market Mix Modelling,PwC,"Analyst, Health insurance, Digital media, cust...","Hyderabad/Secunderabad, Bangalore/Bengaluru"
4,Data Science,Market Mix Modelling,PwC,"data cleansing, Data analysis, Business analyt...","Kolkata, Mumbai, Hyderabad/Secunderabad, Banga..."
5,Manager,Analytics & Data Science,BMC Software,"data cleansing, Data analysis, Business analyt...",Pune
6,Applied Intelligence Analyst / Consultant,Marketing,Accenture,"SAS, Data management, Project management, Anal...",Bangalore/Bengaluru
7,Data Science,Market Mix Modelling Manager,PwC,"Applied Intelligence, SQL, R, Spark, Python, D...","Kolkata, Mumbai, Hyderabad/Secunderabad, Banga..."
8,Senior Analyst/ Data Scientist,Data Science,Tiger Analytics,"data cleansing, Data analysis, Business analyt...","Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
9,Data Science,Senior Data Scientist ( Credit Risk Modelling ),Paytm,"customer analytics, data science, regression, ...",Noida
10,Senior Analyst,Data Science,Tiger Analytics,"Data analysis, EDC, risk modeling, Machine lea...",Chennai
11,Head,Business Analytics & Data Science,Denave,"Analyst, data science, Process documentation, ...","Noida, Uttar Pradesh"
12,Head,Business Analytics & Data Science,Denave,"Business Analytics, Predictive Modeling, data ...","Noida, Uttar Pradesh"
13,Data Engineer/data Science Consultant,-,Career Infosystem,"Business Analytics, Predictive Modeling, data ...",Bangalore/Bengaluru
14,Data Science Analytics Sr Analyst,Data Science,Accenture,"Data Science, Business Intelligence, ETL Tools...",Mumbai
15,Data Science Tech Lead,-,Legatohealthcom,"Data Science, Publishing, Artificial Intellige...",Hyderabad/Secunderabad
16,Data Science Manager,-,Uber,"SAN, data science, Machine learning, Wellness,...",Bangalore/Bengaluru
17,Senior Analyst,Data Science,Jardine Lloyd Thompson,"Computer science, Root cause analysis, Data an...",Mumbai
18,Senior Analyst,Data Science,Marsh McLennan Companies,"Business improvement, Data analysis, Data mode...",Mumbai
19,Data Science Engineer,-,Conneqt Digital,"data science, Senior Analyst, Senior, Data ana...",Hybrid - Bangalore/Bengaluru

## Q9. Scrape the details most watched tv series of all time from imdb.com

In [21]:
#Calling the automated chrome driver
driver = webdriver.Chrome()


#URL to be web scrape

url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

results = driver.find_elements(By.XPATH,"//div[@id='main']/div/div[3]/div[3]/div")

Name =[]
Year = []
RunTime = []
Genere = []
Rating = []
Vote = []

for i in range(len(results)):  
    nametag = driver.find_elements(By.XPATH,"//div[@id='main']/div/div[3]/div[3]/div/div[2]/h3/a")
    Name.append(nametag[i].text)
    yeartag = driver.find_elements(By.XPATH,"//div[@id='main']/div/div[3]/div[3]/div/div[2]/h3/span[2]")
    Year.append(yeartag[i].text)
    timetag = driver.find_elements(By.XPATH,"//div[@id='main']/div/div[3]/div[3]/div/div[2]/p[1]/span[3]")
    RunTime.append(timetag[i].text)
    generetag = driver.find_elements(By.XPATH,"//div[@id='main']/div/div[3]/div[3]/div/div[2]/p[1]/span[5]")
    Genere.append(generetag[i].text)
    ratingtag = driver.find_elements(By.XPATH,"//div[@id='main']/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]")
    Rating.append(ratingtag[i].text)
    votetag = driver.find_elements(By.XPATH,"//div[@id='main']/div/div[3]/div[3]/div/div[2]/p[4]/span[2]")
    Vote.append(votetag[i].text)

    
dictionary= {'Movie Name':Name,'Year Span':Year,'Run Time in Min.':RunTime,'Genre': Genere,'Rating':Rating,'Votes':Vote}
driver.close()
df = pd.DataFrame.from_dict(dictionary)
df.head(10)

The chromedriver version (114.0.5735.90) detected in PATH at C:\Users\Neon Tech Ent\Data Science\Final projects\Web Scraping\chromedriver.exe might not be compatible with the detected chrome version (115.0.5790.110); currently, chromedriver 115.0.5790.102 is recommended for chrome 115.*, so it is advised to delete the driver in PATH and retry

,Movie Name,Year Span,Run Time in Min.,Genre,Rating,Votes
0,Game of Thrones,(2011–2019),57 min,"Action, Adventure, Drama",9.2,"2,187,318"
1,Stranger Things,(2016–2024),51 min,"Drama, Fantasy, Horror",8.7,"1,262,175"
2,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.1,"1,038,502"
3,13 Reasons Why,(2017–2020),60 min,"Drama, Mystery, Thriller",7.5,"305,227"
4,The 100,(2014–2020),43 min,"Drama, Mystery, Sci-Fi",7.6,"264,323"
5,Orange Is the New Black,(2013–2019),59 min,"Comedy, Crime, Drama",8.1,"312,008"
6,Riverdale,(2017–2023),45 min,"Crime, Drama, Mystery",6.5,"150,255"
7,Grey's Anatomy,(2005– ),41 min,"Drama, Romance",7.6,"325,783"
8,The Flash,(2014–2023),43 min,"Action, Adventure, Drama",7.5,"361,464"
9,Arrow,(2012–2020),42 min,"Action, Adventure, Crime",7.5,"439,791"